<launch>

    <param name="robot_description" textfile="$(find lesson_urdf)/urdf/ur5.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="true" />
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find lesson_urdf)/config/ur5.rviz" />
  
</launch>

