<?xml version="1.0" ?>
<launch>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find sensor_config)/rviz/sensor_config.rviz"/>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robot_config)/urdf/ur5_workspace.xacro'"/>

  	<!-- publish the robot state (tf transforms) -->
 	 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />	

	<!-- sensor setup -->
	<include file="$(find sensor_config)/launch/ur5_sensor_setup.launch"/>	
	
  <!-- ar tag detection node -->	
  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false">
    <remap from="/usb_cam/image_raw" to="/kinect/rgb/image_color"/>
    <remap from="/usb_cam/camera_info" to="/kinect/rgb/camera_info"/>
    <param name="marker_pattern_list" type="string" value="$(find ar_pose)/data/target_info"/>
    <param name="threshold" type="int" value="100"/>
  </node>


</launch>
