<launch>
  <node name="fake_ar_publisher" pkg="fake_ar_publisher" type="fake_ar_publisher_node" output="screen"/>
  <node name="vision_node" pkg="myworkcell_core" type="vision_node" output="screen"/>
  <node name="myworkcell_node" pkg="myworkcell_core" type="myworkcell_node" output="screen">
    <param name="base_frame" value="world"/>
  </node>
</launch>
