*~
default_warehouse_mongo_db
.catkin_workspace
build/
devel/
doc/
*.workspace.user
.training_unit
catkin_ws/
logs/
.catkin_tools/
*.workspace
descartes/
fake_ar_publisher/
industrial_core/
universal_robot/
*.bag
_build/
*.bat
