<launch>
    <arg name="rviz" default="true"/>
    <arg name="box_side" default="0.2"/>
    <arg name="box_x" default="0.15"/>
    <arg name="box_y" default="0.4"/>
    <arg name="box_parent_link" default="workcell_base"/>

    <!-- Load Robot Model    -->
    <param name="robot_description"  command="$(find xacro)/xacro --inorder $(find demo3_support)/urdf/demo3.urdf"/>

    <!-- Load Robot Semantic -->
    <param name="robot_description_semantic" textfile="$(find demo3_support)/urdf/robot.srdf" />

    <!-- Set simulated box parameters -->
    <param name="box_side" value="$(arg box_side)"/>
    <param name="box_x" value="$(arg box_x)"/>
    <param name="box_y" value="$(arg box_y)"/>
    <param name="box_parent_link" value="$(arg box_parent_link)"/>

    <!-- Launch GUI to drive joints   --> <!-- do we really want to? -->
    <!-- <param name="use_gui" value="true"/> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Launch robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Insert transforms for cameras x y z yaw(z) pitch(y) roll(x)-->
    <node pkg="tf" type="static_transform_publisher" name="camera_tf_broadcaster"
        args="0.75 0.5 .75 2.7 0 -2.4 base_link camera 10" />

    <!-- Launch 3D camera simulator -->
    <node name="sensor_sim" pkg="demo3" type="sensor_simulator_3d"/>

    <!-- Launch vision node -->
    <include file="$(find demo3_perception)/launch/processing_node.launch" />

    <!-- Launch planner node -->
    <node name="demo3_node" pkg="demo3" type="demo3_node" output="screen"/>

    <!-- Launch visualization -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="demo3_viz"
        args="-d $(find demo3)/config/demo3.rviz" />

</launch>
