<?xml version="1.0"?>
<launch>

  <arg name="robot_ip"/>
  
  <!--  Defaults copied from ur_robot_driver/launch/ur_common.launch --> 
  <arg name="tool_voltage" default="0" doc="Tool voltage set at the beginning of the UR program. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_parity" default="0" doc="Parity configuration used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_baud_rate" default="115200" doc="Baud rate used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_stop_bits" default="1" doc="Number of stop bits used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_rx_idle_chars" default="1.5" doc="Number of idle chars in RX channel used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_tx_idle_chars" default="3.5" doc="Number of idle chars in TX channel used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_device_name" default="/tmp/ttyUR" doc="Local device name used for tool communication. Only used, when `use_tool_communication` is set to true."/>
  <arg name="tool_tcp_port" default="54321" doc="Port on which the robot controller publishes the tool comm interface. Only used, when `use_tool_communication` is set to true."/>
      
  <remap from="joint_states" to="ur_driver/joint_states"/>  
  <include file="$(find ur_robot_driver)/launch/ur_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="debug" value="false"/>
    <arg name="use_tool_communication" value="false"/>
    <arg name="controller_config_file" value="$(find ur5_collision_avoidance_moveit_config)/config/ur_controllers.yaml"/>
    <arg name="reverse_ip" value=""/>
    <arg name="reverse_port" value="50001"/>
    <arg name="script_sender_port" value="50002"/>
    <arg name="trajectory_port" value="50003"/>
    <arg name="kinematics_config" value="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
    <arg name="tf_prefix" value=""/>
    <arg name="controllers" value="joint_state_controller manipulator_controller"/>
    <arg name="stopped_controllers" value=""/>
    <arg name="headless_mode" value="false"/>
    <arg name="tool_voltage" value="$(arg tool_voltage)"/>
    <arg name="tool_parity" value="$(arg tool_parity)"/>
    <arg name="tool_baud_rate" value="$(arg tool_baud_rate)"/>
    <arg name="tool_stop_bits" value="$(arg tool_stop_bits)"/>
    <arg name="tool_rx_idle_chars" value="$(arg tool_rx_idle_chars)"/>
    <arg name="tool_tx_idle_chars" value="$(arg tool_tx_idle_chars)"/>
    <arg name="tool_device_name" value="$(arg tool_device_name)"/>
    <arg name="tool_tcp_port" value="$(arg tool_tcp_port)"/>
  </include>

</launch>
