<?xml version="1.0" ?>
<robot xmlns:xacro="colorpalette">
    <material name="yellow_transparent">
        <color rgba="0 1 1 0.4"/>
    </material>
    <material name="orange_transparent">
        <color rgba="1 0.5 0 0.4"/>
    </material>
    <material name="gray_transparent">
        <color rgba="0.6 0.6 0.6 0.4"/>
    </material>
    <material name="blue_transparent">
        <color rgba="0 0.8 1 0.4"/>
    </material>
    <material name="color_b">
        <color rgba="0 0.8 1 0.4"/>
    </material>
    <material name="color_a">
        <color rgba="0.8 0.2 1 0.2"/>
    </material>	
    <material name="silver">
        <color rgba="0.6 0.6 0.6 1"/>
    </material>
    <material name="orange">
        <color rgba="1 0.5 0 1"/>
    </material>
    <material name="yellow">
        <color rgba="0 1 1 1"/>
    </material>
</robot>
