<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Create links -->
    <link name="world"/>
    <link name="base_link"/>

    <!-- Include robot -->
    <xacro:include filename="$(find demo3_support)/urdf/panda_arm.xacro"/>
    <xacro:panda_arm connected_to="base_link"/>


    <!-- Include workcell (creates joint from world to workcell_base)-->
    <xacro:include filename="$(find demo3_support)/urdf/environment.xacro"/>
    <xacro:workcell parent_link="world" >
        <origin xyz="0.0 0.0 0.77153" rpy="0 0 0"/>
    </xacro:workcell >
    <xacro:shelf id="1" parent_link="world" >
         <origin rpy="0 0 4.7124" xyz="-0.85 0.8 0.11"/>
    </xacro:shelf >

    <!-- Create joints -->
    <joint name="workcell_base_to_base" type="fixed">
      <parent link="workcell_base"/>
      <child link="base_link"/>
      <origin xyz="0 0 0.00953" rpy="0 0 1.5708"/>
    </joint>
    <!--
    <joint name="base_to_panda_link0" type="fixed">
      <parent link="base_link"/>
      <child link="panda_link0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
-->
</robot>
