<launch>
  <!-- Unit test launch file -->

  <!-- Load up parameter server, based on standard planning_context.launch moveit file-->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- URDF file (including path) -->
  <arg name="urdf_file" default="$(find descartes_moveit)/test/resources/kuka_kr210/kr210l150.urdf"/>

  <!-- Launch test node -->
  <arg name="run_test_node" default="true"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" textfile="$(arg urdf_file)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find descartes_moveit)/test/resources/kuka_kr210/kuka_kr210.srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find descartes_moveit)/test/resources/kuka_kr210/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find descartes_moveit)/test/resources/kuka_kr210/kinematics.yaml"/>
  </group>
  
</launch>
