<?xml version="1.0"?>

<robot name="workcell" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find workcell_config)/urdf/table.xacro"/>
  <xacro:include filename="$(find abb_irb2400_support)/urdf/irb2400_macro.xacro"/>

  <link name="world_frame"/>

  <xacro:abb_irb2400 prefix=""/>
  <joint name="world_to_robot" type="fixed">
    <parent link="world_frame"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:table length="1.0" width="1.0" height="0.5"/>
  <joint name="world_to_table" type="fixed">
    <parent link="world_frame"/>
    <child link="table_base"/>
    <origin xyz="1.0 0 0" rpy="0 0 0"/>
  </joint>

</robot>

