<launch>
 <arg name="camera_link" default="camera_link" />
 <arg name="sim_robot" default="true" />
 <arg name="targ_x" default="0.4" />
 <arg name="targ_y" default="0.0" />
 <arg name="targ_z" default="0.0" />
 <arg name="marker_size" default="11.4" />
 <arg name="max_new_marker_error" default="0.08" />
 <arg name="max_track_error" default="0.2" />
 <arg name="cam_image_topic" default="/camera/color/image_raw" />
 <arg name="cam_info_topic" default="/camera/color/camera_info" />
 <arg name="rviz" default="true"/>

 <node pkg="tf" type="static_transform_publisher" name="camera1_tf_broadcaster"
    args="0 0 0 0 0 0 world $(arg camera_link) 10" />

<!-- Launch camera node -->
<include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />

 <!-- Launch AR tag node -->
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
      <param name="marker_size"           type="double" value="$(arg marker_size)" />
      <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
      <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
      <param name="output_frame"          type="string" value="$(arg camera_link)" />

      <remap from="camera_image"  to="$(arg cam_image_topic)" />
      <remap from="camera_info"   to="$(arg cam_info_topic)" />
   </node>

 <!-- Launch visualization -->
 <node if="$(arg rviz)" pkg="rviz" type="rviz" name="pick_and_place_viz"
    args="-d $(find pick_and_place_support)/config/calibration.rviz" />

</launch>


