multi_dof_joints:
  - name: world_joint
    type: Floating
    parent_frame_id: base_link
    child_frame_id: base_link
groups:
  - name: manipulator
    base_link: base_link
    tip_link: tool0
default_collision_operations:
  - object1: base_link
    object2: link_1
    operation: disable  # Adjacent in collision
  - object1: link_1
    object2: link_2
    operation: disable  # Adjacent in collision
  - object1: link_2
    object2: link_3
    operation: disable  # Adjacent in collision
  - object1: link_3
    object2: link_4
    operation: disable  # Adjacent in collision
  - object1: link_4
    object2: link_5
    operation: disable  # Adjacent in collision
  - object1: link_5
    object2: link_6
    operation: disable  # Adjacent in collision
  - object1: link_6
    object2: tool0
    operation: disable  # Adjacent in collision
  - object1: base_link
    object2: link_3
    operation: disable  # Never in collision
  - object1: link_1
    object2: link_3
    operation: disable  # Never in collision
  - object1: link_3
    object2: link_5
    operation: disable  # Never in collision
  - object1: link_3
    object2: link_6
    operation: disable  # Never in collision