<launch>
  <param name="robot_description" textfile="$(find myworkcell_support)/urdf/model.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="false" />
  </node>

  <node name="vision_node" pkg="myworkcell_core" type="vision_node" />
  <node name="myworkcell_core" pkg="myworkcell_core" type="myworkcell_node" />
  <node name="fake_ar_publisher" pkg="fake_ar_publisher" type="fake_ar_publisher_node" />
</launch>
