<launch>
    <!--Direct urdf method-->
    <param name="robot_description" textfile="$(find motoman_config)/cfg/sia20d_mesh.xml" />
    
    <!--Generate urdf from xacro method-->
    <!-- param name="robot_description" command="$(find xacro)/xacro.py '$(find motoman_config)/cfg/sia20d_mesh.xacro'" /--> 
</launch>
