<launch>

 <!--Simple launch file starts a robot visualization of the current hardware state

	usage simple_joint_stream_interface.launch robot_ip:=<value> model:=<value> -->

	<arg name="robot_ip" />
	<arg name="model" />
	<param name="robot_description" textfile="$(arg model)" />

	<node name="state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="robot_state" pkg="dx100" type="robot_state" args="$(arg robot_ip)"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dx100)/urdf.vcg"/>
</launch>
