<launch>
	<param name="octomap_frame" type="string" value="world_frame" />
	<param name="octomap_resolution" type="double" value="0.01" />
	<param name="max_range" type="double" value="5.0" />
	<rosparam command="load" file="$(find ur5_collision_avoidance_moveit_config)/config/sensors.yaml" />
</launch>
