<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="m16ib20_move_manipulator">
        <param name="group" type="string" value="manipulator" />
        <remap from="arm_ik" to="m16ib20_manipulator_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="manipulator_controller/follow_joint_trajectory" />
    </node>
</launch>
