
<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for sia5d:
   - 7 joints

  Usage:
    robot_state_visualize_sia20d.launch robot_ip:=<value> controller:=<fs100|dx100>
-->
<launch>
	<arg name="robot_ip" />

  <!-- controller: Controller name (fs100 or dx100) -->
  <arg name="controller" />

	<rosparam command="load" file="$(find motoman_sia5d_support)/config/joint_names_sia5d.yaml" />

	<include file="$(find motoman_driver)/launch/robot_state_$(arg controller).launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>

	<node name="robot_state_publisher" pkg="robot_state_publisher" 
		type="robot_state_publisher" />

	<include file="$(find motoman_sia5d_support)/launch/load_sia5d.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
