<?xml version='1.0' encoding='ASCII'?>
<launch>
  <include file="$(find m16ib20_arm_navigation)/launch/m16ib20_planning_environment.launch"/>
  <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="m16ib20_manipulator_kinematics">
    <param name="group" type="string" value="manipulator"/>
    <param name="manipulator/root_name" type="string" value="base_link"/>
    <param name="manipulator/tip_name" type="string" value="tool0"/>
    <param name="kinematics_solver" type="string" value="M16iB20_manipulator_kinematics/IKFastKinematicsPlugin"/>
    <param name="OLDkinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin"/>
  </node>
</launch>
