<launch>
  <!-- Unit test launch file -->

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Launch test node -->
  <arg name="run_test_node" default="true"/>



  <include file="$(find descartes_moveit)/test/launch/moveit_state_adapter.launch">
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="urdf_file" value="$(find descartes_moveit)/test/resources/kuka_kr210/kr210l150.urdf"/>
    <arg name="run_test_node" value="$(arg run_test_node)"/>
  </include>

  <!-- Test Node -->
  <test test-name="utest" pkg="descartes_moveit" type="descartes_moveit_utest" if="$(arg run_test_node)"/>
  
</launch>
