<launch>

  <!-- Load robot URDF model -->
  <param name="robot_description" textfile="$(find abb_irb2400_support)/urdf/irb2400.urdf"/>

  <!-- Publish fake joint positions -->
  <param name="use_gui" value="true"/>
  <node name="fake_joints" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Publish link positions based on kinematics -->
  <node name="robot_state" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Launch visualization, with preset configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lesson_launch)/lesson_launch.rviz"/>

</launch>
