<launch>

  <!-- Check for input launch-file argument -->
  <arg name="isSimulated" default="false"/>

  <!-- Load "dummy robot", if not simulated -->
  <include file="$(find lesson_launch)/dummy_robot.launch" unless="$(arg isSimulated)"/>

  <!-- Load "simulated robot", if specified -->
  <include file="$(find abb_irb2400_moveit_config)/launch/moveit_planning_execution.launch" if="$(arg isSimulated)"/>

</launch>
