<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for M-16iB/20:
   - J23_factor = 1
   - use_bswap = true
   - 6 joints

  Usage:
    robot_state_visualize_m16ib20.launch robot_ip:=<value>
 -->
<launch>
  <arg name="robot_ip" />
  <arg name="J23_factor" default="1" />
  <arg name="use_bswap"  default="true" />

  <rosparam command="load" file="$(find fanuc_config)/config/joint_names_m16ib20.yaml" />

  <include file="$(find fanuc_common)/launch/fanuc_robot_state.launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
    <arg name="J23_factor" value="$(arg J23_factor)" />
    <arg name="use_bswap"  value="$(arg use_bswap)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="state_publisher" />

  <include file="$(find fanuc_config)/launch/load_m16ib20.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
