<?xml version="1.0"?>

<robot name="workcell" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="world"/>

  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="tool0"/>
  <joint name="ee_to_tool0" type="fixed">
    <parent link="ee_link" />
    <child link="tool0" />
    <origin xyz="0 0 0" rpy="0 1.5708 0" />
  </joint>

  <link name="floor">
    <collision>
      <geometry>
        <box size="2.0 2.0 0.1"/>
      </geometry>
      <origin xyz="0 0 -0.05"/>
    </collision>
  </link>

  <joint name="world_to_floor" type="fixed">
    <parent link="world" />
    <child link="floor" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="left_wall">
    <collision>
      <geometry>
        <box size="2.0 0.1 1.0"/>
      </geometry>
      <origin xyz="0 0 0.5"/>
    </collision>
  </link>

  <joint name="world_to_leftWall" type="fixed">
    <parent link="world" />
    <child link="left_wall" />
    <origin xyz="0.0 -1.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="right_wall">
    <collision>
      <geometry>
        <box size="2.0 0.1 1.0"/>
      </geometry>
      <origin xyz="0 0 0.5"/>
    </collision>
  </link>

  <joint name="world_to_rightWall" type="fixed">
    <parent link="world" />
    <child link="right_wall" />
    <origin xyz="0.0 1.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="back_wall">
    <collision>
      <geometry>
        <box size="0.1 2.0 1.0"/>
      </geometry>
      <origin xyz="0 0 0.5"/>
    </collision>
  </link>

  <joint name="world_to_backWall" type="fixed">
    <parent link="world" />
    <child link="back_wall" />
    <origin xyz="-0.5 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

<!--  <link name="ceiling">
    <collision>
      <geometry>
        <box size="2.0 2.0 0.1"/>
      </geometry>
      <origin xyz="0 0 0.05"/>
    </collision>
  </link>

  <joint name="world_to_ceiling" type="fixed">
    <parent link="world" />
    <child link="ceiling" />
    <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0" />
  </joint> -->
</robot>
