<launch>
	<arg name="model" value="$(find lesson_xacro)/urdf/workcell.xacro"/>

	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui" value="true"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lesson_xacro)/urdf.rviz" required="true" />

</launch>
