<launch>

  <group ns="robot" >
    <param name="robot_description" textfile="$(find abb_irb2400_support)/urdf/irb2400.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="true" />
    </node>
  </group>
    
  <group ns="environment" >
    <param name="description" command="$(find xacro)/xacro.py '$(find lesson_tf)/models/environment.xacro'" />
    <node name="state_publisher" pkg="robot_state_publisher" type="state_publisher" >
      <remap from="robot_description" to="description" />
    </node>
  </group>

  <group ns="tool" >
    <param name="description" command="$(find xacro)/xacro.py '$(find lesson_tf)/models/tool.xacro'" />
    <node name="state_publisher" pkg="robot_state_publisher" type="state_publisher" >
      <remap from="robot_description" to="description" />
    </node>
  </group>

  <!--Brings up rviz with the proper display configuration-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lesson_tf)/config/workcell.rviz" />
  
</launch>

